<mat-tab-group class="mat-tab-box">
  
  <mat-tab label="Lista radnika">
    
    <div class="searchbar mat-elevation-z1">
      <i class="material-icons">search</i>
      <input class="search" type="text" 
        [(ngModel)]="searchText" placeholder="Pretraga">  <!-- &#xe8b6; -->
    </div>
    <button mat-raised-button color="warn">Dodaj</button>

    <div class="tab-box mat-elevation-z4"> <!-- mat-tab-body-content-->
      <app-employees [searchText]="searchText"></app-employees>
    </div>

  </mat-tab>

  <mat-tab label="Daily scrum">
    <app-header></app-header>
    <div class="tab-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>

</mat-tab-group>