<div>
    <div *ngFor="let employee of employees | search:['name', searchText]"> 
      <mat-grid-list cols="8" rowHeight="40px">
        
        <mat-grid-tile colspan=5> 
            <div class="text-inside-grid">{{ employee.name }}</div>  
        </mat-grid-tile>
        
        <mat-grid-tile colspan=3>
          <button mat-raised-button color="">Izmjeni</button>
          <button mat-raised-button color="warn">Obriši</button>
        </mat-grid-tile> 
    
      </mat-grid-list>
    </div>
</div>

